{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="card">
                    <h5 class="card-header">Categoría</h5>
                    <div class="card-body">

                        <table class="table-borderless table-responsive" >
                            <tr scope="row" class="pb-2">
                                <td ><h6 class="text-muted">Id categoria</h6></td>
                                <td>{{ categoria.id }}</td>
                            </tr>
                            <tr scope="row" class="pb-2">
                                <td><h6 class="text-muted">Nombre Categoría</h6></td>
                                <td>{{ categoria.nombre }}</td>
                            </tr>
                            <tr scope="row" class="pb-2">
                                <td><h6 class="text-muted">Descripción</h6></td>
                                <td>{{ categoria.descripcion }}</td>
                            </tr>
                        </table>

                    </div>
                    <ul class="list-inline-group mt-5 card-footer mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-primary" href="{{ path('categoria_index') }}">Volver a la lista</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-primary" href="{{ path('categoria_edit', {'id': categoria.id}) }}">Editar</a>
                        </li>
                        <li class="list-inline-item">
                            {{ include('categoria/_delete_form.html.twig') }}
                        </li>
                    </ul>
                    {#
            <ul class="list-inline-group mt-5 card-footer mb-0">
                {% if app.user is not null %}
                    {% if app.user.username == owner[0].username %}
                        <li class="list-inline-item">
                            <a class="btn btn-outline-primary" href="{{ path('show_candidates', { 'id' : offer.id }) }}" >Candidates</a>
                        </li>
                        <li class="list-inline-item">
                            <a  class="btn btn-outline-secondary" href="{{ path('offers_edit', { 'id': offer.id }) }}">Edit</a>
                        </li>
                        <li class="list-inline-item">
                            {{ form_start(delete_form) }}
                            <input   class="btn btn-outline-danger" type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    {% else %}
                        <li class="list-inline-item">
                            <a class="btn btn-primary" href="{{ path('apply_offer', { 'id_offer':offer.id, 'username': app.user.username }) }}">Apply to offer</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
                    #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
