{% extends 'base.html.twig' %}

{% block title %}Edit Teclado{% endblock %}

{% block body %}
    {#
    <h1>Edit Teclado</h1>

    {{ include('teclado/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('teclado_index') }}">volver a la lista</a>

    {{ include('teclado/_delete_form.html.twig') }}
    
    
    
    #}
    
    
    
    
    
    
    
    
    
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Teclado</h3>
                        <div class="d-flex justify-content-between">
                            <h4 class="card-subtitle mb-2 text-muted">Actualizar</h4>
                            <a href="{{ path('teclado_index') }}"><span class="p-2 glyphicon glyphicon-list"></span>Volver a la lista</a>
                            <div class="p-2">
                                {{ form_start(delete_form, {'action': path('teclado_delete',{'id':teclado.id})}) }}
                                <input type="submit" value="Borrar">
                                {{ form_end(delete_form) }}
                            </div>
                        </div>

                        <div class="card-text">
                            {{ form_start(edit_form, {'action': path('teclado_edit',{'id':teclado.id}), 'method': 'POST'}) }}
                            <div class="border border-white row">
                                <label for="nombre"
                                       class="col-4 col-form-label">{{ form_label(edit_form.nombre) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.nombre) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="descripcion"
                                       class="col-4 col-form-label">{{ form_label(edit_form.descripcion) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.descripcion) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="imagen"
                                       class="col-4 col-form-label">{{ form_label(edit_form.imagen) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.imagen) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="precio"
                                       class="col-4 col-form-label">{{ form_label(edit_form.precio) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.precio) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="categoria"
                                       class="col-4 col-form-label">{{ form_label(edit_form.categoria) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.categoria) }}
                                </div>
                            </div>

                            <div class="d-flex ">
                                <div class="p-2">
                                    {{ form_widget(edit_form.save) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
