{% extends 'base.html.twig' %}

{% block title %}New Teclado{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">

            <div class="col-8 mx-auto">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Creación de teclado</h3>
                        <h4 class="card-subtitle mb-2 text-muted">Añadir nuevo</h4>
                        <div class="card-text">
                            {{ form_start(form) }}
                            <div class="border border-white row">
                                <label for="nombre"
                                       class="col-4 col-form-label">{{ form_label(form.nombre) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.nombre) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="descripcion"
                                       class="col-4 col-form-label">{{ form_label(form.descripcion) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.descripcion) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="imagen"
                                       class="col-4 col-form-label">{{ form_label(form.imagen) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.imagen) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="precio"
                                       class="col-4 col-form-label">{{ form_label(form.precio) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.precio) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="categoria"
                                       class="col-4 col-form-label">{{ form_label(form.categoria) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.categoria) }}
                                </div>
                            </div>

                            <div class="border border-white  row">
                                <div class="col-sm-4 textarea">
                                    {{ form_widget(form.save) }}
                                </div>
                            </div>
                            <a class="btn btn-primary" href="{{ path('teclado_index') }}">Volver a la lista</a>
                                
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
