{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'navbar/empty.html.twig' %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Access information</h3>
                        <div class="card-text">
                            {{ form_start(form, {'action': path('user_register'), 'method': 'POST'}) }}
                            {% if form_errors(form.username)|length %}
                                <span class="badge badge-danger">{{ form_errors(form.username) }}</span>
                            {% endif %}
                            {% if form_errors(form.plainPassword) |length %}
                                <span class="badge badge-danger"> {{ form_errors(form.plainPassword) }}</span>
                            {% endif %}
                            {% if form_errors(form.plainPassword.first)|length %}
                                <span class="badge badge-danger"> {{ form_errors(form.plainPassword.first) }}</span>
                            {% endif %}
                            {% if form_errors(form.plainPassword.second)|length %}
                                <span class="badge badge-danger">{{ form_errors(form.plainPassword.second) }}</span>
                            {% endif %}
                            {% if form_errors(form.email)|length %}
                                <span class="badge badge-danger">{{ form_errors(form.email) }}</span>
                            {% endif %}
                            <div class="border border-white row">
                                <label for="vPosition" class="col-sm-2 col-form-label">{{ form_label(form.username) }}</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.username) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="vPosition" class="col-sm-2 col-form-label">{{ form_label(form.email) }}</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="vPosition" class="col-sm-2 col-form-label">Password: </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.plainPassword.first, { 'attr': {'type': 'password', 'class': 'form-control'}  }) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="vPosition" class="col-sm-2 col-form-label">Repeat password: </label>
                                <div class="col-sm-10 mt-2">
                                    {{ form_widget(form.plainPassword.second, { 'attr': {'type': 'password', 'class': 'form-control'}  }) }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary" formnovalidate>Register</button>

                            {{ form_end(form) }}

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}